.login {
  background-color: #54899f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login__logo {
  object-fit: contain;
  height: 50vh;
  margin-bottom: 5px;
}
